{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">

  {% include "./breadcrumb.html" %}
  <div class="grid-row">
    <div class="column-full">

      <h1 class="heading-xlarge">
        All claims (LGFS)
      </h1>
      <div class="grid-row mod-cost-summary">
        <div class="column-one-quarter">
          <h1 class="heading-large">
            <span class="heading-secondary">Fees</span>
            £9,999.99
            <span class="heading-secondary">
              <a href="#noop" class="font-small">View details</a>
            </span>
          </h1>
        </div>

        <div class="column-one-quarter">
          <h1 class="heading-large">
            <span class="heading-secondary">Expenses</span>
            £9,999.99
          </h1>
        </div>

        <div class="column-one-half">
          <p>
            <br />
            <br />
            <br />
            <a class="button button-start" href="/examples/lgfs/bill-type" role="button">Start now</a></p>
          </div>
        </div>
        <img src="/public/images/lgfs.claims.list.png" alt="" usemap="#workmap"/>
        <map name="workmap">
          <area shape="rect" coords="100,100,250,200" alt="Computer" href="/examples/lgfs/final/cost-summary-static" />
        </map>
      </div>
    </div>
  </main>
  {% endblock %}
