{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">

  {% include "./breadcrumb.html" %}
  <div class="grid-row">
    <div class="column-full">

      <h1 class="heading-xlarge">
        Your claims
      </h1>

      <div class="grid-row mod-cost-summary">
        <div class="column-one-quarter">
          <h1 class="heading-large">
            <span class="heading-secondary">Total outstanding</span>
            £90,426.68
            <span class="heading-secondary">
              <a href="#noop" class="font-small">View details</a>
            </span>
          </h1>
        </div>

        <div class="column-one-quarter">
          <h1 class="heading-large">
            <span class="heading-secondary">Total authorised</span>
            £0.00
            <span class="heading-secondary">
              <a href="#noop" class="font-small">View details</a>
            </span>
          </h1>
        </div>

        <div class="column-one-half" style="text-align: right;">
          <p>
            <br />
            <br />
            <br />
            <a class="button button-start" href="/examples/lgfs/start-a-claim" role="button">Start now</a></p>
          </div>
        </div>

        {% include "includes/tmpl-main-search-lgfs.html" %}
        {% include "./all-claims-table.html" %}
      </div>
    </div>
  </main>
  {% endblock %}
