{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">

  {% include "./breadcrumb.html" %}
  <div class="grid-row">
    <div class="column-full">

      <h1 class="heading-xlarge">
        All claims
      </h1>
      <div class="grid-row mod-cost-summary">
        <div class="column-one-quarter">
          <h1 class="heading-large">
            <span class="heading-secondary">Fees</span>
            £9,999.99
            <span class="heading-secondary">
              <a href="#noop" class="font-small">View details</a>
            </span>
          </h1>
        </div>

        <div class="column-one-quarter">
          <h1 class="heading-large">
            <span class="heading-secondary">Expenses</span>
            £9,999.99
          </h1>
        </div>

        <div class="column-one-half">
          <p><a class="button button-start" href="/examples/lgfs/" role="button">Start now</a></p>
        </div>


      </div>
      <div class="table-container container">
        <table class="report">
          <caption>
            <span class="table-caption">
              All claims
            </span>
            <span class="claim-count">
              Showing 00 claims of 00
            </span>
          </caption>
          <thead>
            <tr>
              <th scope="col">
                Type
              </th>
              <th scope="col">
                <a tabindex="0" href="#noop">Case number</a>
              </th>
              <th scope="col">
                <a tabindex="0" href="#noop">Advocate</a>
              </th>
              <th scope="col">
                Defendants
              </th>
              <th scope="col">
                <a tabindex="0" href="#noop">Claimed</a>
              </th>
              <!-- <th scope="col">
                <a tabindex="0" href="#noop">Assessed</a>
              </th>
              <th scope="col">
                <a tabindex="0" href="#noop">Status</a>
              </th> -->
              <th scope="col">
                <a tabindex="0" href="#noop">Submitted</a>
              </th>

            </tr>
          </thead>
          <tbody>
            <tr class="draft">
              <td aria-label="Type">
                TYPE OF CLAIM
              </td>
              <td aria-label="Case number">
                <a aria-label="View Draft Claim, Case number: T NUMBER" href="">T NUMBER</a>
              </td>
              <td aria-label="Litigator">
                NAME OF LITI / ADVO
              </td>
              <td aria-label="Defendants">
                Defendants Defendants
              </td>
              <td aria-label="Claimed">
                £0,000.00
              </td>
              <!-- <td aria-label="Assessed" class="numeric">
                Assessed
              </td>
              <td aria-label="Status" scope="row">
                <span class="state state-draft">
                  STATE
                </span>
              </td> -->
              <td aria-label="Date submitted">
                00/00/0000
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
{% endblock %}
