{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">

  {% include "./breadcrumb.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <form id="fx-form-bill-type" action="/examples/lgfs/final/case-details" method="post" class="form">
        <h1 class="heading-xlarge">
          What would you like to do
        </h1>

        <div id="fx-bill-type" class="form-section">
          {{FORM.radiogroup(formData.radiogroup, formcache)}}
        </div>


        {% include "includes/tmpl-form-buttons.html" %}
        {% include "includes/tmpl-help-summary.html" %}
      </form>
    </div>
  </div>
</main>
{% endblock %}
