{% if not setInline %}
  {% include "includes/tmpl-phase-banner.html" %}
  {% include "includes/tmpl-live-nav-lgfs.html" %}
{% endif%}

<div class="breadcrumbs {{'pinned' if not setInline}}">

  <ol>
    <li>
      <a href="/examples/lgfs/all-claims-list">All claims list</a>
    </li>
    <li>
      <a href="/examples/lgfs/final/cost-summary-static?load=route1">API Journey 1</a>
    </li>
    <li>
      <a href="/examples/lgfs/final/cost-summary-static?load=route2">API Journey 2</a>
    </li>
    <!-- <li>
      <a href="/examples/lgfs/bill-type">Choose bill type (done)</a>
    </li>
    <li>
      <a href="/examples/lgfs/final/">Final claim</a>
    </li>
    <li>
      <a href="/examples/lgfs/interim/">Interim claim</a>
    </li>
    <li>
      <a href="/examples/lgfs/transfer/">Transfer claim</a>
    </li> -->
  </ol>
</div>

