{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">

  {% include "./breadcrumb.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <form action="{{formData.action}}" method="post" class="form">

        {% include "includes/tmpl-form-page-header.html" %}

        <h2 class="heading-large">
          Miscellaneous fees
        </h2>
        <p>
          Complete the <a href="#noop" rel="extenal">special preparation form</a> and attach to this claim.
        </p>

        <h3 class="heading-medium">
          Item 1
        </h3>
        <div class="form-section">
          {{FORM.select(formData[0])}}
          {{FORM.netamount(formData[1])}}
        </div>

        <div class="form-section">
          {{FORM.addmore(formData[2])}}
        </div>

        {% set useSkip = true %}
        {% include "includes/tmpl-form-buttons.html" %}
        {% include "includes/tmpl-help-summary.html" %}
      </form>
    </div>
  </div>
</main>
{% endblock %}
