<!-- Javascript -->
<!--[if lte IE 8]><script src="/public/javascripts/bind.js"></script><![endif]-->
<script src="/public/javascripts/details.polyfill.js"></script>
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/public/javascripts/underscore.js"></script>
<script src="/public/javascripts/typeahead-aria.js"></script>
<script src="/public/javascripts/init-autocomplete.js"></script>
<script src="/public/javascripts/govuk/shim-links-with-button-role.js"></script>
<script src="/public/javascripts/govuk/show-hide-content.js"></script>
<script src="/public/javascripts/datalookups.js"></script>
<script src="/public/javascripts/moj.js"></script>

<!-- Page controllers -->
<!-- This section should remain BEFORE the Element Controllers  -->
<script src="/public/javascripts/modules/moj.Modules.BillType.js"></script>
<script src="/public/javascripts/modules/moj.Modules.CaseDetails.js"></script>
<script src="/public/javascripts/modules/moj.Modules.MiscFee.js"></script>
<script src="/public/javascripts/modules/moj.Modules.OffenceDetails.js"></script>
<script src="/public/javascripts/modules/moj.Modules.Defendants.js"></script>
<script src="/public/javascripts/modules/moj.Modules.Thankyou.js"></script>


<!-- Element controllers -->
<!-- This section should remain AFTER the Page Controllers  -->
<script src="/public/javascripts/modules/moj.Modules.TypeAhead.js"></script>
<script src="/public/javascripts/modules/moj.Modules.Inputs.js"></script>





<script src="/public/javascripts/application.js"></script>

{% if useAutoStoreData %}
<script src="/public/javascripts/auto-store-data.js"></script>
{% endif %}
