<div class="form-group">
  <h3 class="heading-medium">
    Uploaded documents
  </h3>
  <table>
    <thead>
      <tr>
        <th colspan="2">Dates and amounts</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>First 6 weeks</td>
        <td class="align-right"><a href="#noop">Download</a> | <a href="#noop">View</a></td>
      </tr>
      <tr>
        <td>Next 33 weeks</td>
        <td class="align-right"><a href="#noop">Download</a> | <a href="#noop">View</a></td>
      </tr>
    </tbody>
  </table>
</div>
