<div class="grid-row">
  <div class="column-one-half">
    <div class="form-group">
      <fieldset class="inline search">
        <legend class="visuallyhidden">
          Search for a claim using a case number, defendant name or litigator name
        </legend>
        <label class="heading-medium" for="search">
          Search for claims
          <span class="form-hint">
            For example case number, defendant name, or litigator name.
          </span>
        </label>
        <input type="text" name="search" id="search" class="form-control" />
        <button name="button" type="submit" class="button search-button search" title="Search"><span class="fa fa-search"></span></button>
      </fieldset>
    </div>
  </div>
</div>
