<h3 class="heading-medium">
  Evidence supplied on disk
</h3>
<div class="form-group">
  <fieldset>
    <legend>
      <h1 class="heading-medium">
        Will you be sending disk evidence with this claim?
      </h1>
    </legend>

    <div class="multiple-choice" data-target="evidence-disk">
      <input id="example-evidence-disk" type="radio" name="radio-contact-group" value="Yes">
      <label for="example-evidence-disk">Yes</label>
    </div>
    <div class="panel panel-border-narrow js-hidden" id="evidence-disk">

      <img src="/public/images/disk-evidence-help-text.png" />
    </div>

    <div class="multiple-choice">
      <input id="example-contact-by-phone" type="radio" name="radio-contact-group" value="No">
      <label for="example-contact-by-phone">No</label>
    </div>
  </fieldset>
</div>
