<details style="width:66%">
  <summary><span class="summary">Help with missing defendants</span></summary>
  <div class="panel panel-border-narrow">
    <p>
      Defendant details are automatically populated from court records. If there is a mistake or a defendant is missing, you can add the defendant manually

      <div class="form-group">
        <a href="/examples/lgfs/final/defendants-form-single" class="button button-secondary fx-add-defendant">Add defendant
        </a>
      </div>
    </p>
  </div>
</details>
