<div class="form-group">
  <fieldset class="inline">
    <legend>
      <h3 class="heading-small">
        Will you be sending disk evidence with this claim?
      </h3>
    </legend>

    <div class="multiple-choice" data-target="evidence-disk">
      <input id="example-evidence-disk" type="radio" name="radio-contact-group" value="Yes">
      <label for="example-evidence-disk">Yes</label>
    </div>

    <div class="multiple-choice">
      <input id="example-contact-by-phone" type="radio" name="radio-contact-group" value="No">
      <label for="example-contact-by-phone">No</label>
    </div>

    <div class="panel panel-border-narrow js-hidden" id="evidence-disk">

      <h3 class="heading-small">
        Help with sending the evidence
      </h3>
      <p>
        Please fill the
        <a href="/public/images/CCD-Electronic-Evidence-coversheet.pdf" rel="external" target="_blank">
          electronic evidence coversheet
          <span class="visuallyhidden">opens in new window</span>
        </a>
        and include it with your disk(s).
      </p>
      <p>
        Legal Aid Agency
        <br/>
        Reference:
        {{formcache['general-input-case-number-1']}}/9876
        <br/>
        Fothergill House
        <br/>
        16 King Street
        <br/>
        Nottingham
        <br/>
        NG1 2AS
      </p>


    </div>
  </fieldset>
</div>
