{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">

  {% include "./breadcrumb.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <form action="{{formData.action}}" data-sidebar="{{formData.sidebar}}" method="post" class="form {{formData.cssClasses}}">
        {% include "includes/tmpl-form-page-header.html" %}
        <h2 class="heading-large">
          Case details
        </h2>

        <div class="form-section">
          {{FORM.radiogroup(formData.radiogroup, formcache)}}

          {{FORM.input(formData[0], formcache)}}
          {{FORM.input(formData[1], formcache)}}
          {{FORM.select(formData[2], formcache)}}
          <div class="grid-row">
            <div class="column-one-half">
              {{FORM.select(formData[3], formcache)}}
            </div>

            <div class="column-one-half">
              {{FORM.input(formData[4], formcache)}}
            </div>
          </div>

          <div class="form-group hidden">
            <div class="grid-row">
              <div class="column-one-half">
                {{FORM.select(formData[5], formcache)}}
              </div>

              <div class="column-one-half">
                {{FORM.input(formData[6], formcache)}}
              </div>
            </div>
          </div>

          <div class="form-group fx-trialdetails hidden">
            {{FORM.trialdetails(formData, formcache, FORM, [7,8,9,10])}}
          </div>
        </div>

        {% include "includes/tmpl-form-buttons.html" %}
        {% include "includes/tmpl-help-summary-agfs.html" %}
      </form>
    </div>
  </div>
</main>
{% endblock %}
