{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">

  {% include "./breadcrumb.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <form action="{{formData.action}}" method="post" class="form">

        {% include "includes/tmpl-form-page-header.html" %}

        <h2 class="heading-large">
          Defendant details
        </h2>

        {% for item in [1,2,3,4,5] %}
          {{FORM.defendant(formData, formcache, FORM, item)}}
        {% endfor %}

        <div class="form-section {{'hidden' if formData.multi == false}}">
          {{FORM.addmore(formData[6], formcache)}}
        </div>

        {% include "includes/tmpl-form-buttons.html" %}
        {% include "includes/tmpl-help-summary.html" %}
      </form>
    </div>
  </div>
</main>{{formcache | dump | safe}}
{% endblock %}
