{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">

  {% include "./breadcrumb.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <form action="{{formData.action}}" method="post" class="form">

        {% include "includes/tmpl-form-page-header.html" %}

        <h2 class="heading-large">
          Fixed fees
        </h2>
        <p>
          All fees should be entered exclusive of VAT. The system will add VAT to fees for VAT registered users.
        </p>
        <div class="form-section">
          <div class="form-group ">
            <label class="form-label-bold " for="general-input-case-type">
              Case type
            </label>

            <input class="form-control disabled" type="text" value="{{formcache['general-select-case-type-1']}}" disabled="disabled" />
          </div>
        </div>

        <div class="form-section">
          {{FORM.date(formData[0], formcache)}}

          {{FORM.netamount(formData[1], formcache)}}
        </div>

        {% include "includes/tmpl-form-buttons.html" %}
        {% include "includes/tmpl-help-summary.html" %}
      </form>
    </div>
  </div>
</main>
{% endblock %}
