{% extends "layout.html" %}

{% block content %}
<main id="content" role="main">

  {% include "./breadcrumb.html" %}

  {% include "includes/tmpl-form-page-header.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <form action="{{formData.action}}" data-sidebar="{{formData.sidebar}}" method="post" class="form {{formData.cssClasses}}">
        {% include "./sidebar-cache.html" %}
        <h2 class="heading-large">
          Graduated fees
        </h2>

        <p>
          All fees should be entered exclusive of VAT. The system will add VAT to fees for VAT registered users.
        </p>

        <h3 class="heading-medium">
          Basic fees
        </h3>
        <p>
          Please include dates for those Standard appearance and PTPH's included in the basic fee.
        </p>

        <div class="form-section">
          <div class="form-group ">
            {% for item in [41,42,43] %}
              {{FORM.date(formData[item], formcache)}}
            {% endfor %}
            <div class="form-group fx-addmore" style="clear:both" data-selector=".fx-basic-date">
                  <br />
                  <a href="#noop">Add another date</a>
                </div>
          </div>

          <!-- Check list with reveals -->
          <div class="form-group">
            <fieldset>
              <legend>
                <h1 class="heading-small">
                  Additional fees
                  <br><br>
                </h1>
                <span class="form-hint">Please choose all relevant options</span>
              </legend>

              <div class="multiple-choice" data-target="option-DA-reveal">
                <input id="option-DA" name="agfs-grad-fees-1" type="checkbox" value="Option DA value" {{'checked' if "Option DA value" == formcache['agfs-grad-fees-1']}} />
                <label for="option-DA">Daily attendance fee</label>
              </div>

              <div class="panel panel-border-narrow js-hidden fx-init" id="option-DA-reveal">
                {{FORM.input(formData[0], formcache)}}
                {% for item in [51,52,53,54,55,56,57] %}
                  {{FORM.date(formData[item], formcache)}}
                {% endfor %}
                <div class="form-group fx-addmore" style="clear:both" data-selector=".fx-da-date">
                  <br />
                  <a href="#noop">Add another date</a>
                </div>
                {{FORM.netamount(formData[2], formcache)}}
              </div>
              <div class="multiple-choice" data-target="option-SAF-reveal">
                <input id="option-SAF" name="agfs-grad-fees-2" type="checkbox" value="Option SAF value" {{'checked' if "Option SAF value" == formcache['agfs-grad-fees-2']}}  />
                <label for="option-SAF">Standard appearance fee</label>
              </div>
              <div class="panel panel-border-narrow js-hidden fx-init" id="option-SAF-reveal">
                {{FORM.input(formData[3], formcache)}}

                {% for item in [61,62,63,64,65,66,67] %}
                  {{FORM.date(formData[item], formcache)}}
                {% endfor %}

                <div class="form-group fx-addmore" style="clear:both" data-selector=".fx-saf-date">
                  <br />
                  <a href="#noop">Add another date</a>
                </div>
                {{FORM.netamount(formData[5], formcache)}}
              </div>

              <div class="multiple-choice" data-target="option-PCM-reveal">
                <input id="option-PCM" name="agfs-grad-fees-3" type="checkbox" value="Option PCM value" {{'checked' if "Option PCM value" == formcache['agfs-grad-fees-3']}}  />
                <label for="option-PCM">Plea and trial preparation hearing</label>
              </div>
              <div class="panel panel-border-narrow js-hidden fx-init" id="option-PCM-reveal">
                {{FORM.input(formData[6], formcache)}}
                {% for item in [71,72,73,74,75,76,77] %}
                  {{FORM.date(formData[item], formcache)}}
                {% endfor %}

                <div class="form-group fx-addmore" style="clear:both" data-selector=".fx-pcm-date">
                  <br />
                  <a href="#noop">Add another date</a>
                </div>
                {{FORM.netamount(formData[8], formcache)}}
              </div>


              <div class="multiple-choice" data-target="option-CV-reveal">
                <input id="option-CV" name="agfs-grad-fees-4" type="checkbox" value="Option CV value" {{'checked' if "Option CV value" == formcache['agfs-grad-fees-4']}} />
                <label for="option-CV">Conferences and views</label>
              </div>
              <div class="panel panel-border-narrow js-hidden" id="option-CV-reveal">
                {{FORM.input(formData[9], formcache)}}
                {{FORM.netamount(formData[10], formcache)}}
              </div>

              <div class="multiple-choice" data-target="option-NDU-reveal">
                <input id="option-NDU" name="agfs-grad-fees-5" type="checkbox" value="Option NDU value" {{'checked' if "Option NDU value" == formcache['agfs-grad-fees-5']}}  />
                <label for="option-NDU">Number of defendants uplift</label>
              </div>
              <div class="panel panel-border-narrow js-hidden" id="option-NDU-reveal">
                {{FORM.input(formData[11], formcache)}}
                {{FORM.netamount(formData[12], formcache)}}
              </div>

              <div class="multiple-choice" data-target="option-NCU-reveal">
                <input id="option-NCU" name="agfs-grad-fees-6" type="checkbox" value="Option NCU value" {{'checked' if "Option NCU value" == formcache['agfs-grad-fees-6']}}  />
                <label for="option-NCU">Number of cases uplift</label>
              </div>
              <div class="panel panel-border-narrow js-hidden" id="option-NCU-reveal">
                {{FORM.input(formData[13], formcache)}}
                {{FORM.input(formData[14], formcache)}}
                {{FORM.netamount(formData[15], formcache)}}
              </div>
            </fieldset>
          </div>

          <!-- Witnesses -->
          <fieldset>
            <legend>
              <h3 class="heading-medium">Witnesses</h3>
            </legend>

            {{FORM.input(formData[100], formcache)}}
            {{FORM.netamount(formData[101], formcache)}}
          </fieldset>

          <!-- PPE -->
          <fieldset>
            <legend>
              <h3 class="heading-medium">Pages of prosecution evidence (PPE) </h3>
            </legend>

            {{FORM.input(formData[102], formcache)}}
            {{FORM.netamount(formData[103], formcache)}}
          </fieldset>

        </div>
        {% include "includes/tmpl-form-buttons.html" %}
        {% include "includes/tmpl-help-summary-agfs.html" %}
      </form>
    </div>
    {% include "./sidebar.html" %}
  </div>
</main>

{% endblock %}
