{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">

  {% include "./breadcrumb.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <form action="{{formData.action}}" method="post" class="form">

        {% include "includes/tmpl-form-page-header.html" %}

        <h2 class="heading-large">
          Supporting evidence
        </h2>

        <h3 class="heading-medium">
          Evidence supplied on disk
        </h3>

        <div class="form-group">
          <fieldset class="inline">
            <legend>
              <h3 class="heading-small">
                Will you be sending disk evidence with this claim?
              </h3>
            </legend>

            <div class="multiple-choice" data-target="evidence-disk">
              <input id="example-evidence-disk" type="radio" name="radio-contact-group" value="Yes">
              <label for="example-evidence-disk">Yes</label>
            </div>
            <div class="multiple-choice">
              <input id="example-contact-by-phone" type="radio" name="radio-contact-group" value="No">
              <label for="example-contact-by-phone">No</label>
            </div>
            <div class="panel panel-border-narrow js-hidden" id="evidence-disk">
              <img src="/public/images/disk-evidence-help-text.png" />
            </div>
          </fieldset>
        </div>

        <div class="form-group">
          {% include "includes/tmpl-help-summary.html" %}
        </div>

        <div class="form-group">
          <h3 class="heading-medium">
            Upload supporting evidence
          </h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, quas magni nam nisi.
          </p>
          <img src="/public/images/dropzone.png" style="width:100%;" />
        </div>

        <div class="form-group">
          <h3 class="heading-medium">
            Uploaded documents
          </h3>
          <table>
            <thead>
              <tr>
                <th>Document</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  This_is_someReally_long_filename.pdf
                  <span style="float:right;" class="font-xsmall">
                    <a href="#noop">Download</a> |
                    <a href="#noop">Delete</a>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="form-group">
          {{FORM.checkboxlist(formData[0], formcache)}}
        </div>



        {% include "includes/tmpl-form-buttons.html" %}
        {% include "includes/tmpl-help-summary.html" %}
      </form>
    </div>
  </div>
</main>
{% endblock %}
