{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">

  {% include "./breadcrumb.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <form action="{{formData.action}}" method="post" class="form">

        {% include "includes/tmpl-form-page-header.html" %}

        <h2 class="heading-large">
          Supporting evidence
        </h2>

        <h3 class="heading-medium">
          Evidence supplied on disk
        </h3>

        {% include "includes/tmpl-disk-evidence.html" %}

        <div class="form-group">
          <h3 class="heading-medium">
            Upload supporting evidence
          </h3>
          <p>
            If you have electronic evidence on disk that relates to this claim, it is recommended that you send it by recorded delivery.
          </p>
          <img src="/public/images/dropzone.png" style="width:100%;" />
        </div>

        <div class="form-group">
          <h3 class="heading-medium">
            Uploaded documents
          </h3>
          <table>
            <thead>
              <tr>
                <th>Document</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  DefendantName_T123456789_Indictment.pdf
                  <span style="float:right;" class="font-xsmall">
                    <a href="#noop">Download</a> |
                    <a href="#noop">Delete</a>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="form-group">
          {{FORM.checkboxlist(formData[0], formcache)}}
        </div>



        {% include "includes/tmpl-form-buttons.html" %}
        {% include "includes/tmpl-help-summary.html" %}
      </form>
    </div>
  </div>
</main>
{% endblock %}
