<div class="table-container container">
        <table class="report table-font-xsmall">
          <caption>
            <span class="table-caption">
              Your claims
            </span>
            <span class="claim-count">
              Showing
              8 claims of 8
            </span>
          </caption>
          <thead>
            <tr><th scope="col">
              <a tabindex="0" href="#noop">Case number</a>
            </th>
            <th scope="col">
              Defendants
            </th>
            <th class="numeric" scope="col">
              <a tabindex="0" href="#noop">Claimed</a>
            </th>
            <th class="numeric" scope="col">
              <a tabindex="0" href="#noop">Assessed</a>
            </th>
            <th scope="col">
              <a tabindex="0" href="#noop">Status</a>
            </th>
            <th class="numeric" scope="col">
              <a class="current asc" tabindex="0" href="#noop">Date submitted ▲</a>
            </th>
            <th scope="col">
              Messages
            </th>
          </tr></thead>
          <tbody>
            <tr class="draft">
              <td aria-label="Case number">
                <a class="js-test-case-number-link" aria-label="View Draft Claim, Case number: T20173466" href="/examples/agfs/final/cost-summary-static?load=route1">A20171234</a>
                <div class="unique-id-small">
                  #000000
                </div>
                <div class="providers-ref">
                  RefNumber-12345
                </div>
              </td>
              <td aria-label="Defendants">
                Joseph Anderson
              </td>
              <td aria-label="Claimed" class="numeric claimed-amount">
                £29,882.72
              </td>
              <td aria-label="Assessed" class="numeric">
                -
              </td>
              <td aria-label="Status" scope="row">
                <span class="state state-draft">
                  Draft
                </span>
              </td>
              <td aria-label="Date submitted" class="numeric">
                -
              </td>
              <td aria-label="Messages" class="messages">
                <span class="none">No messages</span>
              </td>
            </tr>
            <tr class="draft">
              <td aria-label="Case number">
                <a class="js-test-case-number-link" aria-label="View Draft Claim, Case number: T20173466" href="/examples/agfs/final/cost-summary-static?load=route2">T20171234</a>
                <div class="unique-id-small">
                  #000000
                </div>
                <div class="providers-ref">
                  RefNumber-54321
                </div>
              </td>
              <td aria-label="Defendants">
                Jacqueline Weaver
              </td>
              <td aria-label="Claimed" class="numeric claimed-amount">
                £29,882.72
              </td>
              <td aria-label="Assessed" class="numeric">
                -
              </td>
              <td aria-label="Status" scope="row">
                <span class="state state-draft">
                  Draft
                </span>
              </td>
              <td aria-label="Date submitted" class="numeric">
                -
              </td>
              <td aria-label="Messages" class="messages">
                <span class="none">No messages</span>
              </td>
            </tr>
            <!-- <tr class="submitted" id="claim_115390">
              <td aria-label="Case number">
                <a class="js-test-case-number-link" aria-label="View Submitted Claim, Case number: A20151234" href="/external_users/claims/115390">A20151234</a>
                <div class="unique-id-small">
                  #115390
                </div>
                <div class="providers-ref">
                  123456
                </div>
              </td>
              <td aria-label="Defendants">
                A Cyclist
              </td>
              <td aria-label="Claimed" class="numeric claimed-amount">
                £121.20
              </td>
              <td aria-label="Assessed" class="numeric">
                -
              </td>
              <td aria-label="Status" scope="row">
                <span class="state state-submitted">
                  Submitted
                </span>
              </td>
              <td aria-label="Date submitted" class="numeric">
                23/08/2017
              </td>
              <td aria-label="Messages" class="messages">
                <span class="none">No messages</span>
              </td>
            </tr>
            <tr class="redetermination" id="claim_115351">
              <td aria-label="Case number">
                <a class="js-test-case-number-link" aria-label="View Redetermination Claim, Case number: T20163361" href="/external_users/claims/115351">T20163361</a>
                <div class="unique-id-small">
                  #115351
                </div>
                <div class="providers-ref">
                  2BAAC-94E5-45
                </div>
              </td>
              <td aria-label="Defendants">
                Jim Smith
              </td>
              <td aria-label="Claimed" class="numeric claimed-amount">
                £11,156.40
              </td>
              <td aria-label="Assessed" class="numeric">
                £6,672.00
              </td>
              <td aria-label="Status" scope="row">
                <span class="state state-redetermination">
                  Redetermination
                </span>
              </td>
              <td aria-label="Date submitted" class="numeric">
                31/08/2017
              </td>
              <td aria-label="Messages" class="messages">
                <a aria-label="View Messages for Case number T20163361" href="/external_users/claims/115351?messages=true#messages">View</a>
              </td>
            </tr>
            <tr class="awaiting_written_reasons" id="claim_57808">
              <td aria-label="Case number">
                <a class="js-test-case-number-link" aria-label="View Awaiting written reasons Claim, Case number: A20161234" href="/external_users/claims/57808">A20161234</a>
                <div class="unique-id-small">
                  #57808
                </div>
                <div class="providers-ref">
                  9k999k
                </div>
              </td>
              <td aria-label="Defendants">
                Gust White
              </td>
              <td aria-label="Claimed" class="numeric claimed-amount">
                £480.00
              </td>
              <td aria-label="Assessed" class="numeric">
                -
              </td>
              <td aria-label="Status" scope="row">
                <span class="state state-awaiting-written-reasons">
                  Awaiting written reasons
                </span>
              </td>
              <td aria-label="Date submitted" class="numeric">
                22/09/2017
              </td>
              <td aria-label="Messages" class="messages">
                <a aria-label="View Messages for Case number A20161234" href="/external_users/claims/57808?messages=true#messages">View (2 new)</a>
              </td>
            </tr>
            <tr class="submitted" id="claim_115420">
              <td aria-label="Case number">
                <a class="js-test-case-number-link" aria-label="View Submitted Claim, Case number: A20161234" href="/external_users/claims/115420">A20161234</a>
                <div class="unique-id-small">
                  #115420
                </div>
                <div class="providers-ref">

                </div>
              </td>
              <td aria-label="Defendants">
                Ian Duncan
              </td>
              <td aria-label="Claimed" class="numeric claimed-amount">
                £180.00
              </td>
              <td aria-label="Assessed" class="numeric">
                -
              </td>
              <td aria-label="Status" scope="row">
                <span class="state state-submitted">
                  Submitted
                </span>
              </td>
              <td aria-label="Date submitted" class="numeric">
                26/09/2017
              </td>
              <td aria-label="Messages" class="messages">
                <span class="none">No messages</span>
              </td>
            </tr>
            <tr class="authorised" id="claim_115447">
              <td aria-label="Case number">
                <a class="js-test-case-number-link" aria-label="View Authorised Claim, Case number: B20176789" href="/external_users/claims/115447">B20176789</a>
                <div class="unique-id-small">
                  #115447
                </div>
                <div class="providers-ref">

                </div>
              </td>
              <td aria-label="Defendants">
                Test Case Two
              </td>
              <td aria-label="Claimed" class="numeric claimed-amount">
                £355.20
              </td>
              <td aria-label="Assessed" class="numeric">
                £356.40
              </td>
              <td aria-label="Status" scope="row">
                <span class="state state-authorised">
                  Authorised
                </span>
              </td>
              <td aria-label="Date submitted" class="numeric">
                17/10/2017
              </td>
              <td aria-label="Messages" class="messages">
                <span class="none">No messages</span>
              </td>
            </tr> -->
          </tbody>
        </table>
      </div>
