<div class="breadcrumbs">
  <ol>
    <li>
      <a href="/examples/agfs/case-details">Case details</a>
    </li>
    <li>
      <a href="/examples/agfs/defendants">Defendant details</a>
    </li>
    <li>
      <a href="/examples/agfs/offence">Offence details</a>
    </li>
    <li>
      <a href="/examples/agfs/fixed-fees">Fixed fees</a>
    </li>
    <li>
      <a href="/examples/agfs/misc-fees">Miscellaneous fees</a>
    </li>
    <li>
      <a href="/examples/agfs/expenses">Expenses</a>
    </li>
    <li>
      <a href="/examples/agfs/supporting-evidence">Supporting Evidence</a>
    </li>
  </ol>
</div>

