{% if not setInline %}
  {% include "includes/tmpl-phase-banner.html" %}
  {% include "includes/tmpl-live-nav-agfs.html" %}
{% endif%}

<div class="breadcrumbs {{'pinned' if not setInline}}">

  <ol>
    <li>
      <a href="/examples/agfs/all-claims-list">All claims list</a>
    </li>
    <li>
      <a href="/examples/agfs/final/cost-summary-static?load=route1">API Journey 1</a>
    </li>
    <li>
      <a href="/examples/agfs/final/cost-summary-static?load=route2">API Journey 2</a>
    </li>
    <li>
      <a href="/examples/agfs/final/graduated-fees-v2">Basic fee  (split view)</a>
    </li>

    <li>
      <a href="https://cccd-design.herokuapp.com/playground/autocomplete/version-2/find" target="_blank">Autocomplete model</a>
    </li>

    <li>
      <a href="https://cccd-design.herokuapp.com/playground/search-filter/version-4/search" target="_blank">Search filter model</a>
    </li>






    <!-- <li>
      <a href="/examples/agfs/defendants-form">Defendant details</a>
    </li>
    <li>
      <a href="/examples/agfs/offence">Offence details</a>
    </li>
    <li>
      <a href="/examples/agfs/fixed-fees">Fixed fees</a>
    </li>
    <li>
      <a href="/examples/agfs/misc-fees">Miscellaneous fees</a>
    </li>
    <li>
      <a href="/examples/agfs/travel-expenses">Expenses</a>
    </li>
    <li>
      <a href="/examples/agfs/supporting-evidence">Supporting Evidence</a>
    </li>
    <li>
      <a href="/examples/agfs/additional-info">Additional info</a>
    </li>
    <li>
      <a href="/examples/agfs/cost-summary">Cost summary</a>
    </li>
    <li>
      <a href="/examples/agfs/certify">Certify</a>
    </li> -->
  </ol>
</div>

