{% extends "layout.html" %}

{% block content %}
<main id="content" role="main">

  {% include "./breadcrumb.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <form action="./fixed-fee" method="post" class="form">

        {% include "./agfs-page-header.html" %}

        <h2 class="heading-large">
          Claim details
        </h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente similique molestiae dolores odit. Aperiam et fugiat dolore, voluptatem, cumque debitis rerum deserunt nam nihil optio minus, hic recusandae ipsa at.</p>

        {% include "includes/tmpl-form-buttons.html" %}
        {% include "includes/tmpl-help-summary.html" %}
      </form>
    </div>
  </div>
</main>
{% endblock %}
