<h3 class="heading-medium">
  Disbursements
  <a href="./disbursements" style="float:right;" class="font-small">Change</a>
</h3>
{% if formcache['general-select-disbursement-type-1'] %}
<table class="form-section tbl-misc-fees fx-category-block" data-type="disbursements">
  <tbody>
    {% for item in [1,2,3,4,5] %}
      {{FORM.disbursementCS(formcache, item)}}
    {% endfor %}
    <tr class="bg-white">
      <th>Net Total</th>
      <td style="padding-left: 22%" class="bold-small fx-category-block-net-total"></td>
    </tr>
  </tbody>
</table>
{% else %}
  <p>There are no disbursements for this claim.</p>
{% endif %}
