<h3 class="heading-medium">
  Graduated feessss
  <a href="./graduated-fees" style="float:right;" class="font-small">Change</a>
</h3>

<table class="form-section tbl-graduated-fees fx-category-block" data-type="fees">
  <tbody>
    {% if formcache['agfs-grad-fees-1'] %}
      <tr>
        <th style="vertical-align: top; width: 33%;">Daily attendance</th>
        <td style="padding: 0">
          <table class="nested-table" style="border:0;margin-bottom: 0">
            <tbody>
              <tr>
                <th style="width: 40%;">Number of days</th>
                <td>{{formcache['DA-input-number-of-days-1']}}</td>
              </tr>
              <tr>
                <th style="vertical-align: top;">Dates attended</th>
                <td>

                {% for item in [1,2,3,4,5] %}
                  {% if formcache['DA-date-attended-'+ item +'-1-day'] %}
                    {%if not loop.first %}
                      ,<br>
                    {% endif %}
                    {{formcache['DA-date-attended-'+ item +'-1-day']}}/<!--
                   -->{{formcache['DA-date-attended-'+ item +'-1-month']}}/<!--
                   -->{{formcache['DA-date-attended-'+ item +'-1-year']}}
                  {% endif %}
                {% endfor %}
                </td>
              </tr>
              <tr>
                <th>Net amount</th>
                <td class="fx-item-net-amount">{{formcache['graduated-fees-daily-input-net-amount-1']}}</td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    {% endif %}
    {% if formcache['agfs-grad-fees-2'] %}
      <tr>
        <th style="vertical-align: top; width: 33%;">Standard appearance fee</th>
        <td style="padding: 0">
          <table class="nested-table" style="border:0;margin-bottom: 0">
            <tbody>
              <tr>
                <th style="width: 40%;">Number of appearances</th>
                <td>{{formcache['SAF-input-number-of-appearances-1']}}</td>
              </tr>
              <tr>
                <th style="vertical-align: top;">Dates attended</th>
                <td>
                {% for item in [1,2,3,4,5] %}
                  {% if formcache['SAF-date-of-appearance-'+ item +'-1-day'] %}
                    {%if not loop.first %}
                      ,<br>
                    {% endif %}
                    {{formcache['SAF-date-of-appearance-'+ item +'-1-day']}}/<!--
                   -->{{formcache['SAF-date-of-appearance-'+ item +'-1-month']}}/<!--
                   -->{{formcache['SAF-date-of-appearance-'+ item +'-1-year']}}
                  {% endif %}
                {% endfor %}

                </td>
              </tr>
              <tr>
                <th>Net amount</th>
                <td class="fx-item-net-amount">{{formcache['graduated-fees-standard-input-net-amount-1']}}</td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    {% endif %}
    {% if formcache['agfs-grad-fees-3'] %}
      <tr>
        <th style="vertical-align: top; width: 33%;">Plea and case management hearing</th>
        <td style="padding: 0">
          <table class="nested-table" style="border:0;margin-bottom: 0">
            <tbody>
              <tr>
                <th style="width: 40%;">Number of hearings</th>
                <td>{{formcache['PCM-input-number-of-hearings-1']}}</td>
              </tr>
              <tr>
                <th style="vertical-align: top;">Dates attended</th>
                <td>
                  {{formcache['PCM-date-of-hearings-1-1-day']}}/<!--
                   -->{{formcache['PCM-date-of-hearings-1-1-month']}}/<!--
                   -->{{formcache['PCM-date-of-hearings-1-1-year']}}
                </td>
              </tr>
              <tr>
                <th>Net amount</th>
                <td class="fx-item-net-amount">{{formcache['graduated-fees-standard-input-net-amount-1']}}</td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    {% endif %}
    {% if formcache['agfs-grad-fees-4'] %}
      <tr>
        <th style="vertical-align: top; width: 33%;">Conferences and views</th>
        <td style="padding: 0">
          <table class="nested-table" style="border:0;margin-bottom: 0">
            <tbody>
              <tr>
                <th style="width: 40%;">Number of conferences and views</th>
                <td>{{formcache['CV-input-number-of-conferences-and-views-1']}}</td>
              </tr>
              <tr>
                <th>Net amount</th>
                <td class="fx-item-net-amount">{{formcache['graduated-fees-conferences-views-input-net-amount-1']}}</td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    {% endif %}
    {% if formcache['agfs-grad-fees-5'] %}
      <tr>
        <th style="vertical-align: top; width: 33%;">Number of defendants uplift</th>
        <td style="padding: 0">
          <table class="nested-table" style="border:0;margin-bottom: 0">
            <tbody>
              <tr>
                <th style="width: 40%;">Number of defendants</th>
                <td>{{formcache['NDU-input-number-of-defendants-1']}}</td>
              </tr>
              <tr>
                <th>Net amount</th>
                <td class="fx-item-net-amount">{{formcache['graduated-fees-defendants-input-net-amount-1']}}</td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    {% endif %}
    {% if formcache['agfs-grad-fees-6'] %}
      <tr>
        <th style="vertical-align: top; width: 33%;">Number of cases uplift</th>
        <td style="padding: 0">
          <table class="nested-table" style="border:0;margin-bottom: 0">
            <tbody>
              <tr>
                <th style="width: 40%;">Number of defendants</th>
                <td>{{formcache['NCU-input-number-of-cases-1']}}</td>
              </tr>
              <tr>
                <th>Addional case numbers</th>
                <td>{{formcache['NCU-input-additional-case-numbers-1']}}</td>
              </tr>
              <tr>
                <th>Net amount</th>
                <td class="fx-item-net-amount">{{formcache['graduated-fees-case-uplift-input-net-amount-1']}}</td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    {% endif %}
    <tr>
      <th style="vertical-align: top; width: 33%;">Witnesses</th>
      <td style="padding: 0">
        <table class="nested-table" style="border:0;margin-bottom: 0">
          <tbody>
            <tr>
              <th style="width: 40%;">Number of witnesses</th>
              <td>{{formcache['general-input-total-number-of-prosecution-witnesses-1']}}</td>
            </tr>
            <tr>
              <th>Net amount</th>
              <td class="fx-item-net-amount">{{formcache['graduated-fees-witness-input-net-amount-1']}}</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <th style="vertical-align: top; width: 33%;">Prosecution Evidence</th>
      <td style="padding: 0">
        <table class="nested-table" style="border:0;margin-bottom: 0">
          <tbody>
            <tr>
              <th style="width: 40%;">Number of pages of evidence</th>
              <td>{{formcache['general-input-total-number-of-pages-1']}}</td>
            </tr>
            <tr>
              <th>Net amount</th>
              <td class="fx-item-net-amount">{{formcache['graduated-fees-ppe-input-net-amount-1']}}</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr class="bg-white">
      <th>Net Total</th>
      <td style="padding-left: 26.8%" class="bold-small fx-category-block-net-total">£0.00</td>
    </tr>
  </tbody>
</table>
