<h3 class="heading-medium">
  Travel expenses
  <a href="./travel-expenses" style="float:right;" class="font-small">Change</a>
</h3>
{% if formcache['general-select-expense-type-1'] %}

  <table class="form-section tbl-travel-expenses fx-category-block" data-type="expenses">
  <tbody>
    {% for item in [1,2,3,4,5] %}
      {{FORM.expensesCS(formcache, item)}}
    {% endfor %}
    <tr class="bg-white">
      <th>Net Total</th>
      <td style="padding-left: 22%" class="bold-small fx-category-block-net-total"></td>
    </tr>
  </tbody>
</table>
{% else %}
  <p>There are no travel expenses for this claim.</p>
{% endif %}

