<h3 class="heading-medium">
  Miscellaneous fees
  <a href="./misc-fees" style="float:right;" class="font-small">Change</a>
</h3>
{% if formcache['misc-fee-select-fee-type-1'] %}
<table class="form-section tbl-misc-fees">
  <tbody>
    {% for item in [1,2,3,4,5] %}
      {{FORM.miscfeesCS(formcache, item)}}
    {% endfor %}
    <tr class="bg-white">
      <th>Net Total</th>
      <td style="padding-left: 22%" class="bold-small">£0.00</td>
    </tr>
  </tbody>
</table>
{% else %}
  <p>There are no miscellaneous fees for this claim.</p>
{% endif %}
