{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">

  {% include "./breadcrumb.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <form action="{{formData.action}}" method="post" class="form">

        {% include "./lgfs-header.html" %}

        <h2 class="heading-large">
          Additional information
        </h2>

        <div class="form-group">
          <label class="form-label" for="textarea">
            For example, any other information that will help us process your claim
          </label>
          <textarea class="form-control" name="additional-information-lgfs" id="textarea" rows="5" style="width: 100%;">{{formcache['additional-information-lgfs']}}</textarea>
        </div>


        {% include "includes/tmpl-form-buttons.html" %}
        {% include "includes/tmpl-help-summary-lgfs.html" %}
      </form>
    </div>
  </div>
</main>
{% endblock %}
