{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">

  {% include "./breadcrumb.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <form name="myform" action="{{formData.action}}" method="post" class="form">
        {% include "./lgfs-header.html" %}
        <h2 class="heading-large">
          Case details
        </h2>

        <div class="form-section">
          {{FORM.select(formData[11], formcache)}}
        </div>

        <!-- ref number -->
        <div class="form-section">
          {{FORM.input(formData[0], formcache)}}
        </div>

        <!-- case type -->
        <div class="form-section">
          {{FORM.select(formData[2], formcache)}}
        </div>

        <!-- court & case number -->
        <div class="grid-row">

          <div class="column-one-half">
            <div class="form-section">
              {{FORM.input(formData[3], formcache)}}
            </div>
          </div>

          <div class="column-one-half">
            <div class="form-section">
              {{FORM.input(formData[4], formcache)}}
            </div>
          </div>
        </div>

        <!-- Transfer court & case number -->
        <div class="grid-row">
          <div class="column-one-half">
            <div class="form-section">
              {{FORM.input(formData[5], formcache)}}
            </div>
          </div>

          <div class="column-one-half">
            <div class="form-section">
              {{FORM.input(formData[6], formcache)}}
            </div>
          </div>
        </div>


        <!-- DATES -->
        <h3 class="heading-medium">
          Trail details
        </h3>

        <div class="grid-row">
          <div class="column-one-half">
            <div class="form-section">
              {{FORM.date(formData[7], formcache)}}
            </div>
          </div>

          <div class="column-one-half">
            <div class="form-section">
              {{FORM.inputfieldset(formData[8], formcache)}}
            </div>
          </div>
        </div>
        <div class="grid-row">

          <div class="column-one-half">
            <div class="form-section">
              {{FORM.date(formData[9], formcache)}}
            </div>
          </div>

          <div class="column-one-half">
            <div class="form-section">
              {{FORM.inputfieldset(formData[10], formcache)}}
            </div>
          </div>
        </div>

        {% include "includes/tmpl-form-buttons.html" %}
        {% include "includes/tmpl-help-summary.html" %}
      </form>
    </div>
  </div>
</main>
{% endblock %}
