{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">

  {% include "./breadcrumb.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <form name="myform" action="{{formData.action}}" method="post" class="form">
        {% include "./lgfs-header.html" %}
        <h2 class="heading-large">
          Case details
        </h2>

        <div class="form-section">
          {{FORM.radiogroup(formData[11], formcache)}}
          <div class="form-group">
            {% include "includes/tmpl-help-with-suppliers.html" %}
          </div>
          {{FORM.input(formData[0], formcache)}}

          {{FORM.select(formData[2], formcache)}}
          <div class="grid-row">
            <div class="column-one-half">
              {{FORM.select(formData[3], formcache)}}
            </div>

            <div class="column-one-half">
              {{FORM.input(formData[4], formcache)}}
            </div>
          </div>
          <div class="grid-row">
            <div class="column-one-half">
              {{FORM.date(formData[12], formcache)}}
            </div>
          </div>
        </div>


        {% include "includes/tmpl-form-buttons.html" %}
        {% include "includes/tmpl-help-summary.html" %}
      </form>
    </div>
  </div>
</main>
{% endblock %}
