{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">

  {% include "./breadcrumb.html" %}
  <div class="grid-row">
    <div class="column-full">
      <form action="{{formData.action}}" method="post" class="form">

        {% include "./lgfs-header.html" %}

        <h2 class="heading-large">
          Cost summary
        </h2>

        <div class="form-section">
          <div class="grid-row mod-cost-summary">
            <div class="column-one-quarter">
              <h1 class="heading-large">
                <span class="heading-secondary">Fees</span>
                £9,999.99
                <span class="heading-secondary">
                  <a href="#noop" class="font-small">Change fees</a>
                </span>

              </h1>
            </div>

            <div class="column-one-quarter">
              <h1 class="heading-large">
                <span class="heading-secondary">Disbursement</span>
                £999.99
                <span class="heading-secondary">
                  <a href="#noop" class="font-small">Change disbursement</a>
                </span>
              </h1>
            </div>

            <div class="column-one-quarter">
              <h1 class="heading-large">
                <span class="heading-secondary">Expenses</span>
                £9,999.99
                <span class="heading-secondary">
                  <a href="#noop" class="font-small">Change expenses</a>
                </span>
              </h1>
            </div>

            <div class="column-one-quarter">
              <h1 class="heading-large">
                <span class="heading-secondary">Total</span>
                £9,999.99
                <span class="heading-secondary">£1,399.34 VAT</span>
              </h1>
            </div>
          </div>

          <div class="form-group fx-form-buttons">
            <input type="submit" class="button" value="Continue and certify">
            <input type="submit" class="button button-secondary" value="Save as draft">
            <a href="#noop" style="color:red;">Delete this claim</a>
          </div>
        </div>



        <div class="grid-row">
          <div class="column-full">
            <h2 class="heading-large">
              Claim summary
            </h2>


            <p class="font-large" style="color: gray; text-align: center; padding: 350px 20px;font:bold;">

              This section has been left intentionally blank
            </p>

          </div>
        </div>
        <style>
        .fx-form-buttons *{
          margin-right: 20px;
          display: inline-block;
        }
        .fx-form-buttons a{
          line-height: 2;
        }

      </style>


      <div class="form-group fx-form-buttons">
        <input type="submit" class="button" value="Continue and certify">
        <input type="submit" class="button button-secondary" value="Save as draft">
        <a href="#noop" style="color:red;">Delete this claim</a>
      </div>




      {% include "includes/tmpl-help-summary.html" %}
    </form>
  </div>
</div>
</main>
{% endblock %}
