{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">

  {% include "./breadcrumb.html" %}
  <div class="grid-row">
    <div class="column-full">
      <form action="{{formData.action}}" method="post" class="form">

        {% include "./lgfs-header.html" %}

        <h2 class="heading-large">
          Cost summary
        </h2>

        {% include "examples/shared/includes/cost-summary-totals.html" %}

        {% include "examples/shared/includes/cost-summary-actions.html" %}

        {% include "examples/agfs/shared/cost-summary-case-details.html" %}

        {% include "examples/agfs/shared/cost-summary-defendants.html" %}

        {% include "examples/agfs/shared/cost-summary-offence-details.html" %}

        {% if formcache['general-select-case-type-1'] == "Trial" %}
          {% include "examples/agfs/shared/cost-summary-graduated-fees.html" %}
        {% endif %}

        {% if formcache['general-select-case-type-1'] !== "Trial" %}
          {% include "examples/agfs/shared/cost-summary-fixed-fees.html" %}
        {% endif %}

        {% include "examples/agfs/shared/cost-summary-misc-fees.html" %}

        {% include "examples/agfs/shared/cost-summary-disbursements.html" %}

        {% include "examples/agfs/shared/cost-summary-travel-expenses.html" %}

        {% include "examples/agfs/shared/cost-summary-supporting-evidence.html" %}

        {% include "examples/agfs/shared/cost-summary-additional-info.html" %}

        {% include "examples/shared/includes/cost-summary-actions.html" %}

      </form>

    </div>
  </div>
</main>
{% endblock %}
