{% extends "layout.html" %}

{% block content %}

<main id="content" role="main" class="fx-defendant-lookup">

  {% include "./breadcrumb.html" %}
  <div class="grid-row">
    <div class="column-full">
      <form action="{{formData.action}}" method="post" class="form">

        {% include "./lgfs-header.html" %}

        <h2 class="heading-large">
          Defendant details
        </h2>
        <p style="width:66%">
          The defendant listed below matches your supplier number (<span class="bold-small">{{formcache['general-radio-group-supplier-number-1']}}</span>), court (<span class="bold-small">{{formcache['general-select-court-1']}}</span>) and case number (<span class="bold-small" style="text-transform: uppercase;">{{formcache['general-input-case-number-1']}}</span>).
        </p>


        <div class="form-group">
          <table>
            <thead>
              <tr>
                <th>Primary <br /> defendant</th>
                <th>Defendant name</th>
                <th>Date of birth</th>
                <th>MAAT reference</th>
                <th>Representation order date</th>
                <th class="hidden">Actions</th>
              </tr>
            </thead>
            <tbody class="fx-defendant-count">
              <tr>
                <td>
                  <div class="multiple-choice">
                    <input id="radio-1" type="radio" name="general-input-primary-defendant" value="Yes" checked />
                    <label for="radio-1" class="">&nbsp;</label>
                  </div>
                </td>
                <td>Joseph Anderson</td>
                <td>06/08/1990</td>
                <td>8825177950</td>
                <td>01/06/2017</td>
                <td class="hidden"></td>
              </tr>

              {% for item in [1,2,3,4,5] %}
              {% if formcache['general-input-first-name-' + item] %}

              <tr>
                <td>
                  <div class="multiple-choice">
                    <input id="radio-2" type="radio" name="general-input-primary-defendant" value="Yes">
                    <label for="radio-2" class="">&nbsp;</label>
                  </div>
                </td>
                <td>{{formcache['general-input-first-name-' + item]}} {{formcache['general-input-last-name-' + item]}}</td>
                <td>
                  {{formcache['general-date-of-birth-'+ item +'-day']}}/
                  {{formcache['general-date-of-birth-'+ item +'-month']}}/
                  {{formcache['general-date-of-birth-'+ item +'-year']}}
                </td>
                <td>{{formcache['general-input-maat-reference-' + item]}}</td>
                <td>
                  {{formcache['general-representation-order-date-'+ item +'-day']}}/
                  {{formcache['general-representation-order-date-'+ item +'-month']}}/
                  {{formcache['general-representation-order-date-'+ item +'-year']}}
                </td>
                <td class="hidden">
                  <a href="delete-model/defendant/{{item}}">remove</a>
                </td>
              </tr>
              {% endif%}
              {% endfor %}

            </tbody>
          </table>
        </div>
        <div class="form-group">

          {% include "includes/tmpl-help-defendants-missing.html" %}
        </div>


        {% include "includes/tmpl-form-buttons.html" %}
        {% include "includes/tmpl-help-summary-lgfs.html" %}
      </form>
    </div>
  </div>
</main>
{% endblock %}
