{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">

  {% include "./breadcrumb.html" %}
  <div class="grid-row">
    <div class="column-full">
      <form action="{{formData.action}}" method="post" class="form">

        {% include "./lgfs-header.html" %}

        <h2 class="heading-large">
          Defendant details
        </h2>

        <p>
          The defendant listed below matches your court (<span class="bold-small">{{formcache['select-box-court']}}</span>) <br/> and case number (<span class="bold-small">{{formcache['input-case-number']}}</span>).
        </p>


        <div class="form-group">
          <table>
            <thead>
              <tr>
                <th>Defendant name</th>
                <th>Date of birth</th>
                <th>MAAT reference</th>
                <th>Representation order date</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Joseph Anderson</td>
                <td>06/08/1990</td>
                <td>8825177950</td>
                <td>01/06/2017</td>
              </tr>

            {% if formcache['input-first-name'] %}
              <tr>
                <td>{{formcache['input-first-name']}} {{formcache['input-last-name']}}</td>
                <td>
                  {{formcache['date-of-birth-day']}}/
                  {{formcache['date-of-birth-month']}}/
                  {{formcache['date-of-birth-year']}}
                </td>
                <td>{{formcache['input-maat-reference']}}</td>
                <td>
                  {{formcache['representation-order-date-day']}}/
                  {{formcache['representation-order-date-month']}}/
                  {{formcache['representation-order-date-year']}}
                </td>
              </tr>
            {% endif%}

            </tbody>
          </table>
        </div>
        <div class="form-group">

          {% include "includes/tmpl-help-defendants-missing.html" %}
        </div>


        {% include "includes/tmpl-form-buttons.html" %}
        {% include "includes/tmpl-help-summary.html" %}
      </form>
    </div>
  </div>
</main>
{% endblock %}
