{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">

  {% include "./breadcrumb.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <form action="{{formData.action}}" method="post" class="form">

        {% include "./lgfs-header.html" %}

        <h2 class="heading-large">
          Defendant details
        </h2>

        <h3 class="heading-medium">
          Defendant 1
        </h3>
        <div class="form-section">
          {{FORM.input(formData[0], formcache)}}
          {{FORM.input(formData[1], formcache)}}
        </div>

        <div class="form-section">
          {{FORM.date(formData[2], formcache)}}
          {{FORM.checkboxlist(formData[3], formcache)}}
        </div>

        <h3 class="heading-medium">
          Representation order details
        </h3>
        <div class="form-section">
          {{FORM.date(formData[4], formcache)}}
          {{FORM.input(formData[5], formcache)}}
        </div>

        <div class="form-section">
          {{FORM.addmore(formData[6], formcache)}}
        </div>

        {% include "includes/tmpl-form-buttons.html" %}
        {% include "includes/tmpl-help-summary.html" %}
      </form>
    </div>
  </div>
</main>
{% endblock %}
