{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">

  {% include "./breadcrumb.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <form action="{{formData.action}}" method="post" class="form">

        {% include "./lgfs-header.html" %}

        <h2 class="heading-large">
          Disbursements
        </h2>

        <h3 class="heading-medium">
          Item 1
        </h3>

        <div class="form-section">
          {{FORM.select(formData[0], formcache)}}
          <div class="grid-row">
            <div class="column-one-quarter">
              {{FORM.netamount(formData[1], formcache)}}
            </div>

            <div class="column-one-quarter">
              {{FORM.vatamount(formData[2], formcache)}}
            </div>
          </div>
        </div>

        <div class="form-section">
          {{FORM.addmore(formData[3], formcache)}}
        </div>


        {% include "includes/tmpl-form-buttons.html" %}
        {% include "includes/tmpl-help-summary.html" %}
      </form>
    </div>
  </div>
</main>
{% endblock %}
