{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">

  {% include "./breadcrumb.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <form action="{{formData.action}}" method="post" class="form">

        {% include "./lgfs-header.html" %}

        <h2 class="heading-large">
          Travel expenses
        </h2>

        <h3 class="heading-medium">
          Item 1
          <a href="#noop" style="float:right;" class="font-small fx-for-travel">Remove this</a>
        </h3>

        <div class="form-section">
          <div class="grid-row">
            <div class="column-half fx-for-travel-hook">
              {{FORM.select(formData[0], formcache)}}
            </div>
            <div class="column-half fx-for-travel">
              {{FORM.select(formData[1], formcache)}}
            </div>
          </div>

          <div class="grid-row fx-for-travel">
            <div class="column-two-thirds">
              {{FORM.input(formData[2], formcache)}}
            </div>
            <div class="column-one-third">
              {{FORM.input(formData[3], formcache)}}
            </div>
          </div>

          <div class="grid-row fx-for-travel">
            <div class="column-half">
              {{FORM.date(formData[4], formcache)}}
            </div>

            <div class="column-one-quarter">
              <br/><br/>
              {{FORM.netamount(formData[5], formcache)}}
            </div>
            <div class="column-one-quarter">
              <br/><br/>
              {{FORM.vatamount(formData[6], formcache)}}
            </div>
          </div>


          {{FORM.costpermile(formData[7], formcache)}}

          <div class="form-section fx-for-travel">
            {{FORM.addmore(formData[8], formcache)}}
          </div>

        </div>


        {% set useSkip = true %}
        {% include "includes/tmpl-form-buttons.html" %}
        {% include "includes/tmpl-help-summary.html" %}
      </form>
    </div>
  </div>
</main>
{% endblock %}
