{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">

  {% include "./breadcrumb.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <form action="{{formData.action}}" method="post" class="form">

        {% include "./lgfs-header.html" %}
        <!-- {{formData | dump}} -->
        <h2 class="heading-large">
          Warrant fee
        </h2>

        <div class="form-section">
          {{FORM.date(formData[0], formcache)}}

          {{FORM.date(formData[1], formcache)}}

          {{FORM.netamount(formData[2], formcache)}}
        </div>


        {% include "includes/tmpl-form-buttons.html" %}
        {% include "includes/tmpl-help-summary.html" %}
      </form>
    </div>
  </div>
</main>
{% endblock %}
