{% extends "layout.html" %}

{% block content %}
<main id="content" role="main">

  {% include "./breadcrumb.html" %}

  {% include "examples/agfs/agfs-page-header.html" %}

  <div class="grid-row">
    <div class="column-full">

      <h2 class="heading-large">
        Cost summary
      </h2>
      {% include "./includes/cost-summary.html" %}

      <h2 class="heading-large">
        Claim summary
      </h2>

      <h3 class="heading-medium">
        Case details
      </h3>

      <h3 class="heading-medium">
        Defendant details
      </h3>

      <h3 class="heading-medium">
        Offence details
      </h3>

      <h3 class="heading-medium">
        Fixed fees
      </h3>

      <h3 class="heading-medium">
        Miscellaneous fees
      </h3>

      <h3 class="heading-medium">
        Travel expenses
      </h3>

      <h3 class="heading-medium">
        Supporting evidence
      </h3>

      <h3 class="heading-medium">
        Additional information
      </h3>


      {% include "includes/tmpl-form-buttons.html" %}

      {% include "includes/tmpl-help-summary.html" %}

    </div>
  </div>
</main>
{% endblock %}
