{% extends "layout.html" %}

{% block page_title %}
GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">
      <h1 class="heading-xlarge">
        CCCD static page prototypes
      </h1>

      <h2 class="heading-medium">External User forms</h2>

      <h3 class="heading-small">
        AGFS
      </h3>
      {% include "./agfs/breadcrumb.html" %}


      <h3 class="heading-small">
        Shared Pages
      </h3>
      {% include "./shared/breadcrumb.html" %}

      <hr>


    </div>
  </div>
</main>

{% endblock %}


