{% extends "layout.html" %}

{% block page_title %}
GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">
      <h1 class="heading-xlarge">
        CCCD prototype and examples
      </h1>

      <h2 class="heading-medium">User research prototypes</h2>
      <h3 class="heading-small">
        AGFS forms
        <span class="form-hint">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat quod facilis ab.
        </span>
      </h3>
      {% set setInline = true %}
      {% include "./agfs/breadcrumb.html" %}

      <h2 class="heading-medium">Data collection patterns</h2>

      <h3 class="heading-small">
        Claim forms (data input)
        <span class="form-hint font-small">
          Data entry patterns across LGFS & AGFS.
        </span>
      </h3>
      {% include "./claim-forms/breadcrumb.html" %}

      <h3 class="heading-small">
        Shared Pages
        <span class="form-hint">
          Patterns that are used across LGFS, AGFS and in some cases Caseworkers
        </span>
      </h3>
      {% include "./shared/breadcrumb.html" %}

      <hr>


    </div>
  </div>
</main>

{% endblock %}


