{% extends "layout.html" %}

{% block page_title %}
GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">
      <h1 class="heading-xlarge">
        CCCD static page prototypes
      </h1>

      <h2 class="heading-medium">External User forms</h2>

      <ul class="list list-bullet">
        <li>
          <a href="/examples/agfs/start">
            AGFS Start
          </a>
        </li>
        <li>
          <a href="/examples/agfs/fixed-fee">
            AGFS Fixed Fee
          </a>
        </li>
        <li>
          <a href="/examples/agfs/graduated-fee">
            AGFS Graduated Fee
          </a>
        </li>
        <li>
          <a href="/examples/agfs/misc-fee">
            AGFS Misc Fee
          </a>
        </li>
        <li>
          <a href="/examples/agfs/travel-expenses">
            AGFS Travel expenses
          </a>
        </li>
      </ul>
    </div>
  </div>
</main>

{% endblock %}


