<div class="breadcrumbs {{'pinned' if not setInline}}">
  <ol>
    <li>
      <a href="/examples">Claim forms</a>
    </li>
    <li>
      <a href="/examples/claim-forms/start">Start Page</a>
    </li>
    <li>
      <a href="/examples/claim-forms/fixed-fee">Fixed fee</a> (<a href="/examples/claim-forms/fixed-fee-errors">e</a>)
    </li>
    <li>
      <a href="/examples/claim-forms/graduated-fee">Graduated fee</a> (<a href="/examples/claim-forms/graduated-fee-errors">e</a>)
    </li>
    <li>
      <a href="/examples/claim-forms/misc-fee">Misc fee</a> (<a href="/examples/claim-forms/misc-fee-errors">e</a>)
    </li>
    <li>
      <a href="/examples/claim-forms/travel-expenses">Travel expenses</a> (<a href="/examples/claim-forms/travel-expenses-errors">e</a>)
    </li>
    <li>
      <a href="/examples/claim-forms/evidence">Supporting evidence</a> (<a href="/examples/claim-forms/evidence-errors">e</a>)
    </li>
    <li>
      <a href="/examples/claim-forms/additional-info">Additional Info</a>
    </li>
  </ol>
</div>

