{% extends "layout.html" %}

{% block content %}
<main id="content" role="main">

  {% include "./breadcrumb.html" %}

  {% if errorState %}
    {% include "includes/tmpl-error-summary.html" %}
  {% endif %}

  {% include "includes/tmpl-form-page-header.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <form action="#noop" method="post" class="form">
        <h2 class="heading-large">
          Miscellaneous fees
        </h2>

        <p>
          Something something special prep form <a href="#">A 19px body copy link</a>
        </p>

        <h3 class="heading-medium">
          Item 1
          <a href="#noop" style="float:right;" class="font-small">Remove this</a>
        </h3>

        {% include "includes/tmpl-input-hint.html" %}

        {% include "includes/tmpl-net-amount.html" %}

        <hr/>

        <h3 class="heading-medium">
          Item 2
          <a href="#noop" style="float:right;" class="font-small">Remove this</a>
        </h3>

        {% include "includes/tmpl-input-hint.html" %}

        {% include "includes/tmpl-date.html" %}

        {% include "includes/tmpl-net-amount.html" %}

        <hr/>
        <div class="form-group">
          <input type="submit" class="button button-secondary" value="Add another fee">
        </div>

        {% include "includes/tmpl-form-buttons.html" %}
        {% include "includes/tmpl-help-summary.html" %}
      </form>
    </div>
    {% include "includes/sidebar.html" %}
  </div>
</main>
{% endblock %}
